<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Skill</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  
  <h1>Add New Skill</h1>
  <form action="/skills" method="POST" autocomplete="off">
    <div class="form">
      <label for="skill">Skill</label>
      <input type="text" name="skill" id="skillinput"> 
    </div>
    <div class="newform">
      <label for="haveyoulearned">Have You Learned This Yet?</label> 
      <input type="radio" name="learned" value="learned">
      <label for="learned">Yes</label>
      <input type="radio" name="learned" value="notlearned"><label for="learned">No</label>
    </div>
    <div id="submitbutton"><button type="submit" id="addskill">Add Skill</button></div>
  </form>
  <span><a href="/"><button class="nav">Home</button></a><a href="/skills"><button class="nav">Back to Skills</button></a></span>
</body>
</html>