<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Skill</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <a href="/">Home</a> | <a href="/skills">Back to Skills</a>
  <h1>Add New Skill</h1>
  <form action="/skills" method="POST" autocomplete="off">
    <label for="skill">Skill:</label>
    <input type="text">
    <br />
    <label for="haveyoulearned">Have You Learned This Yet?:</label>
    <br />
    <label for="learned">Learned</label>
    <input type="radio" name="learnedor" value="learned">
    <label for="learned">Not Learned</label>
    <input type="radio" name="learnedor" value="notlearned">
    <br />
    <button type="submit">Add Skill</button>
  </form>
</body>
</html>