<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/skills">View My Skills</a> | <a href="/skills/new">Add New Skills</a>
  </body>
</html>
