<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/skills"><button class="homenav">View My Skills</button></a>
    <a href="/skills/new"><button class="homenav">Add New Skills</button></a>
  </body>
</html>
